*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(80, 83, 85, 0.199);
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border: rgb(97, 97, 97) ,3px inset; 
    border-radius: 10px;
    width: 20rem;
    height: 20rem;
}
.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
}
.formulario h2{
    margin-bottom: 1rem;
}
.formulario input{
    width: 14rem;
    height: 1.6rem;
    padding: 0.2rem;
}
.formulario #btn{
    width: 14rem;
    height: 2.8rem;
    color: white;
    background-color: #28a117;
    margin-top: 0.6rem;
    border-radius: 4px;
}